<html>
  <head>
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/bootstrap.css">

    {% if title %}
    <title> {{title}}</title>
    {% else %}
    <title>Title</title>
    {% endif %}

  </head>
  <body>

      <form action="/login" method="post">
        <div class="container">
          <h1>Please login</h1>

          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" name="email" aria-describedby="emailHelp">
          </div>

          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password">
          </div>

           <button type="submit" class="btn btn-primary">Login</button>
        
        <input type="button" onclick="location.href='sign_up'" value="Create account" class="btn btn-primary"/>

          

          
        </div>
      </form>

    </div>
  </body>
</html>