<!DOCTYPE html>
<html>
<head>
        <title>Change Input Text Value OnClick Event</title>
</head>
<body>
	<input type="radio" name="reason" value="Fit Description"><input type="text" name="other_reason" value = {{one}} /> <br>
    <input type="radio" name="reason" value="Suspicious Behavior"><input type="text" name="other_reason" value = {{two}} /><br>
    <input type="radio" name="reason" value="No Reason Given"><input type="text" name="other_reason" value= {{three}} /><br>
	<input type="radio" name="reason" value="noreason"><input type="text" name="other_reason" value = {{four}} /><br>



</body>
</html> 	