{% extends 'base.html' %}


{% block content %}
  
    <form action ="/" method="post">
      <div class='container'>
      <div class="mb-3">
        <label for="title" class="form-label">Untitled Form</label>
        <input type="text" class="form-control" id="title" aria-describedby="emailHelp">

      </div>


      <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
          style="height: 100px"></textarea>
        <label for="floatingTextarea2">Question</label>
      </div>
      <div>
        <input type="radio" name="reason" value="Fit Description"><input type="text" name="one" value = {{one}} /> <br>
        <input type="radio" name="reason" value="Suspicious Behavior"><input type="text" name="two" value = {{two}} /><br>
        <input type="radio" name="reason" value="No Reason Given"><input type="text" name="three" value= {{three}} /><br>
	      <input type="radio" name="reason" value="noreason"><input type="text" name="four" value = {{four}} /><br>
      </div>

     
    </div>    
    </form>
  
  {% endblock %}



